.loader{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    margin-top: 300px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}
.loader-page{
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
}
.landing-bg{
    background-color: #007FE0;
}
.landing-text{
    color: white;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
    flex-direction: row;
}
.living-pro-text{
    font-size: xx-large;
}
.lp-landing-icon{
    margin-right: 4px;  
}


@media(min-width: 670px){
    .boarding-ellipses{
        margin-left: 130px;
    }
}
@media(min-width: 945px){
    .boarding-ellipses{
        margin-left: 270px;
    }
}
@media(min-width: 1115px){
    .boarding-ellipses{
        margin-left: 350px;
    }
} 
@media(min-width: 1366px){
    .boarding-ellipses{
        margin-left: 0px;
    }
} 


.OB1ellipse16{
    width: 60px;
    height: 60px;
    margin-top: 50px;
    margin-left: 285px;  
}
@media (min-width: 1366px) {
    .OB1ellipse16{
        width: 90px;
        height: 90px;
        margin-top: 10px;
        margin-left: 800px;
        margin-bottom: -15px;
    }
}
.OB1ellipse15, 
.OB2ellipse18, 
.OB3ellipse8{
    margin-left: 52px;
    margin-top: 20px;
    width: 310px;
}
@media (min-width: 1366px) {
    .OB1ellipse15, 
    .OB2ellipse18, 
    .OB3ellipse8{
        width: 350px;
        margin-left: 490px;
    }
}
.OB1ellipse17{
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-left: 30px;
}
@media (min-width: 1366px) {
    .OB1ellipse17{
        width: 90px;
        height: 90px;
        margin-left: 450px;
        margin-top: -7px;
    }
}
.onboarding-text{
    text-align: center;
}
@media (min-width: 1366px) {
    .onboarding-text{
        font-size: 24px;
    }
}
.onboarding-text-p{
    font-size: x-small;
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
}
@media (min-width: 1366px) {
    .onboarding-text-p{
        padding-top: 2px;
        font-weight: 400;
        font-size: 12px;
    }
}
.OB2ellipse16{
    width: 60px;
    height: 60px;
    margin-top: 50px;
    margin-left: 220px;  
}
@media (min-width: 1366px) {
    .OB2ellipse16{
        width: 90px;
        height: 90px;
        margin-top: 10px;
        margin-left: 690px;
        margin-bottom: -5px;
    }
}
.OB2ellipse17{
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-left: 109px;
}
@media (min-width: 1366px) {
    .OB2ellipse17{
        width: 90px;
        height: 90px;
        margin-left: 520px;
        margin-top: -5px;
    }
}
.OB3ellipse16{
    width: 60px;
    height: 60px;
    margin-top: 50px;
    margin-left: 30px;  
}
@media (min-width: 1366px) {
    .OB3ellipse16{
        width: 90px;
        height: 90px;
        margin-top: 10px;
        margin-left: 450px;
        margin-bottom: -15px;
    }
}
.OB3ellipse17{
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-left: 285px;
}
@media (min-width: 1366px) {
    .OB3ellipse17{
        width: 90px;
        height: 90px;
        margin-left: 800px;
        margin-top: -10px;
    }
}
.boarding-options{
    margin-top: 30px;
    margin-left: 27px;
    margin-bottom: 40px;
}
@media (min-width: 1080px) {
    .boarding-options{
        margin-top: 30px;
        margin-left: 500px;
        margin-bottom: 40px;
    }
}
/* @media (min-width: 1115px) {
    .boarding-options{
        margin-top: 30px;
        margin-left: 380px;
        margin-bottom: 40px;
    }
} */
.boarding-icons{
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
}
@media (min-width: 1366px) {
    .boarding-icons{
        margin-left: 500px;
        margin-top: 100px;
        margin-right: 500px;
        display: flex;
        flex-direction: row;
    }
}
/* @media (min-width: 1115px) {
    .boarding-icons{
        margin-left: 300px;
        margin-top: 100px;
        margin-right: 500px;
        display: flex;
        flex-direction: row;
    }
} */
.boarding-icon{
    height: 4px;
    width: 20px;
    margin-right: 4px;
}
.boarding-skip{
    color: #007FE0;
    text-decoration-line: underline;
}
.boarding-next{
    margin-left: 150px;
    background-color: #007FE0;
    color: white;
    height: 36px;
    border-radius: 10px;

}
.signup-go-back-btn{
    margin-top: 61px;
    margin-left: 30px;
    width: 16px;
}
@media (min-width: 1366px) {
    .signup-div,
    .login-div{
        padding-top: 20px;
        margin-left: 380px;
        width: 600px;
        border-radius: 10px;
        margin-bottom: 60px;
    }
}
@media (min-width: 1366px) {
    .ev-div{
        padding-top: 20px;
        margin-left: 380px;
        width: 600px;
        border-radius: 10px;
        height: 600px;
    }
}
@media (min-width: 768px) {
    .ev-div{
        padding-top: 20px;
        margin-left: 380px;
        width: 600px;
        border-radius: 10px;
        height: 600px;
    }
}
.signup-head{
    margin-left: 30px;
    margin-top: 39px;
}
@media (min-width: 1366px) {
    .signup-head{
        margin-left: 140px;
        margin-top: 39px;
    }
}
.signup-welcome{
    width: 113px;
    height: 28px;
    font-size: 25px;
    line-height: 27.84px;
    font-weight: 500;
    align-items: center;
    letter-spacing: -0.3px;
}
@media (min-width: 1366px) {
    .signup-welcome{
        width: 113px;
        height: 28px;
        font-size: 30px;
        line-height: 27.84px;
        font-weight: 500;
        align-items: center;
        letter-spacing: -0.3px;
        margin-top: 40px;
        text-align: center;
        margin-left: 80px;
    }
}
.signup-head-p{
    width: 311px;
    height: 36px;
    margin-top: 9px;
    font-weight: 450;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.3px;
}
@media (min-width: 1366px) {
    .signup-head-p{
        height: 36px;
        margin-top: 9px;
        font-weight: 450;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.3px;
        text-align: center;
    }
}
.signup-form-div{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 70px;

}
@media (min-width: 1366px) {
    .signup-form-div{
        margin-left: 100px;
        margin-top: 70px;
    }
}
.signup-form-input-box{
    width: 343px;
    height: 44px;
    border-radius: 10px;
    border-color: #d5d4d4;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 12px;
}
@media (min-width: 1366px) {
    .signup-form-input-box{
        width: 400px;
        height: 48px;
        border-radius: 10px;
        border-color: #929292;
        margin-bottom: 20px;
        padding-left: 10px;
        font-size: 14px;
    }
}
.signup-form-input-box::placeholder{
    padding-left: 10px;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.3px;
    height: 18px;
    color: #000000;
}
@media (min-width: 1366px) {
    .signup-form-input-box::placeholder{
        padding-left: 10px;
        font-weight: 500;
        font-size: 11px;
        line-height: 18px;
        letter-spacing: -0.3px;
        height: 18px;
        color: #000000;
    }
}
.RememberMe, .forgot-password-btn{
    color: #007FE0;
    width: fit-content;
    height: 18px;
    font-weight: 600;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.3px;
    align-items: center;
}
@media (min-width: 1366px) {
    .RememberMe, 
    .forgot-password-btn{
        color: #007FE0;
        width: fit-content;
        height: 18px;
        font-weight: 600;
        font-size: 11px;
        line-height: 18px;
        letter-spacing: -0.3px;
        align-items: center;
    }
}
.RM-checkbox{
    width: 16px;
    height: 16px;
    margin-top: -2px;
    margin-left: 3px;
}
.create-account-btn{
    width: 162px;
    height: 36px;
    margin-top: 60px;
    margin-left: 100px;
    background-color: #007FE0;
    font-weight: 500;
    font-size: 11px;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    color: white;
}
@media (min-width: 1366px) {
    .create-account-btn{
        width: 162px;
        height: 36px;
        margin-top: 60px;
        margin-left: 120px;
        background-color: #007FE0;
        font-weight: 500;
        font-size: 11px;
        border-radius: 10px;
        padding: 10px;
        gap: 10px;
        color: white;
    }
}
.google-auth-p{
    width: 190px;
    height: 18px;
    margin-top: 32.5px;
    margin-left: 115px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.3px;
    align-content: center;
    text-align: center;
}
@media (min-width: 1366px) {
    .google-auth-p{
        width: 250px;
        height: 18px;
        margin-top: 32.5px;
        margin-left: 172px;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.3px;
        align-content: center;
        text-align: center;
    }
}
.google-frame{
    width: 40px;
    height: 36px;
    margin-top: 16px;
    margin-left: 195px;
    border-radius: 5px;
    border: 1px;
    gap: 10px;
}
@media (min-width: 1366px) {
    .google-frame{
        width: 40px;
        height: 36px;
        margin-top: 16px;
        margin-left: 280px;
        border-radius: 5px;
        border: 1px;
        gap: 10px;
    }
}
.login-option, 
.create-account-option{
    width: 316px;
    height: 18px;
    margin-top: 55px;
    margin-left: 49px;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.3px;
    text-align: center;
}
@media (min-width: 1366px) {
    .login-option,
    .create-account-option{
        width: 316px;
        height: 18px;
        margin-top: 55px;
        margin-left: 138px;
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.3px;
        text-align: center;
    }
}
.signup-login-link, 
.signup-create-account-link{
    font-weight: 400;
    color: #007FE0;
}
.loginError{
    color: red;
    font-size: 10px;
    font-weight: 500;
    margin-top: -10px;
    margin-bottom: 2px;
}
@media (min-width: 1366px) {
    .loginError{
        color: red;
        font-size: 11px;
        font-weight: 500;
        margin-top: -10px;
        margin-bottom: 3px;
    }
}
.verification-pins{
    width: 314px;
    height: 44px;
    margin-top: 50px;
    margin-left: 50px;
}
@media (min-width: 1366px) {
    .verification-pins{
        width: 314px;
        height: 44px;
        margin-top: 50px;
        margin-left: 140px;
    }
}
.verification-pin{
    border-radius: 10px;
    width: 45px;
    height: 50px;
    border-color: #7c7b7b;
    margin-right: 7px;
    text-align: center;
    font-size: 20px;
}
.email-verify-btn{
    width: 162px;
    height: 36px;
    margin-top: 320px;
    margin-bottom: 40px;
    margin-left: 80px;
    background-color: #007FE0;
    font-weight: 500;
    font-size: 10px;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    color: white;
}
@media (min-width: 1366px) {
    .email-verify-btn{
        width: 162px;
        height: 36px;
        margin-top: 80px;
        margin-bottom: 40px;
        margin-left: 79px;
        background-color: #007FE0;
        font-weight: 500;
        font-size: 10px;
        border-radius: 10px;
        padding: 10px;
        gap: 10px;
        color: white;
    }
}
@media (min-width: 1366px) {
    .about-page2{
        background-color: #f2f4f5;
        border-radius: 10px;
        width: 600px;
        margin-left: 383px;
        padding-top: 20px;
        margin-bottom: 40px;
    }
}
@media (min-width: 1366px) {
    .about-form{
        margin-left: 100px;
    }
}
.about-welcome{
    width: 300px;
    height: 22px;
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 600;
    align-items: center;
    letter-spacing: -0.3px;
    margin-top: 39px;
    margin-left: 30px;
    margin-bottom: 16px;
}
@media (min-width: 1366px) {
    .about-welcome{
        width: 300px;
        height: 22px;
        font-size: 19px;
        line-height: 21.78px;
        font-weight: 600;
        align-items: center;
        letter-spacing: -0.3px;
        margin-top: 39px;
        margin-left: 60px;
        margin-bottom: 16px;
    }
}
.about-form-label{
    height: 18px;
    margin-left: 30px;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.3px;
}
@media (min-width: 1366px) {
    .about-form-label{
        margin-left: -30px;
        height: 18px;
        margin-left: 30px;
        font-weight: 550;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.3px;
    }
}
.required-asterik{
    width: 6px;
    height: 13px;
    margin-left: 4px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: #BE0000;
}
.about-form-input-box{
    width: 350px;
    height: 39px;
    margin-top: 11px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    border-color: #cecdcd;
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.3px;
}
@media (min-width: 1366px) {
    .about-form-input-box{
        width: 350px;
        height: 39px;
        margin-top: 11px;
        border-radius: 10px;
        border-color: #b1b0b0;
        padding: 10px;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.3px;
    }
}
.AD{
    display: flex;
    flex-direction: row;
    height: 18px;
    font-weight: 550;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.3px;
}
.age{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.dob{
    display: flex;
    flex-direction: column;
    margin-left: 115px;
}
.about-form-input-box-A{
    width: 146px;
    height: 39px;
    margin-left: 30px;
    border-radius: 10px;
    border-color: #cecdcd;
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.3px;
}
@media (min-width: 1366px) {
    .about-form-input-box-A{
        width: 146px;
        height: 39px;
        margin-left: 30px;
        border-radius: 10px;
        border-color: #b1b0b0;
        padding: 10px;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.3px;
    }
}
.about-form-input-box-D{
    width: 146px;
    height: 39px;
    margin-left: 55px;
    border-radius: 10px;
    border-color: #cecdcd;
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.3px;
}
@media (min-width: 1366px) {
    .about-form-input-box-D{
        width: 146px;
        height: 39px;
        margin-left: 55px;
        border-radius: 10px;
        border-color: #b1b0b0;
        padding: 10px;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.3px;
    }
}
.about-2{
    margin-top: 60px;
}
.states-options{
    width: 10px;
}
.here-for-option-btns{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 4px;
}
.here-for-option-btn{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin-right: 18px;
}
.here-for-btn-text{
    width: 110px;
    border-radius: 10px;
    padding: 10px;
    height: 40px;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -0.3px;
}
.about-proceed-btn{
    width: 162px;
    height: 36px;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 120px;
    background-color: #007FE0;
    font-weight: 500;
    font-size: 10px;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    color: white;
}
.prev-next-options{
    display: flex;
    flex-direction: row;
}
.compat-skip{
    width: 24px;
    height: 18px;
    margin-top: 61px;
    margin-left: 299px;
    color: #BE0000;
    text-decoration: underline;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.3px;
}
@media (min-width: 1115px){
    .compat-skip{
        width: 24px;
        height: 18px;
        margin-top: 61px;
        margin-left: 1000px;
        color: #BE0000;
        text-decoration: underline;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.3px;
    }
}
@media (min-width: 1366px){
    .compat-skip{
        width: 24px;
        height: 18px;
        margin-top: 61px;
        margin-left: 1200px;
        color: #BE0000;
        text-decoration: underline;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.3px;
    }
}
.compat-p{
    width: 306px;
    height: 36px;
    margin-left: 30px;
    margin-top: 9px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.3px;
}
@media (min-width: 1115px){
    .compat_test_div{
        display: flex;
        flex-direction: row;
        margin-left: 80px;
        margin-top: 40px;
    }
}
@media (min-width: 1366px){
    .compat_test_div{
        display: flex;
        flex-direction: row;
        margin-left: 150px;
        margin-top: 40px;
    }
}
@media (min-width: 1115px){
    .compat_test_image{
        width: 500px;
        height: 500px;
        margin-left: 40px;
        margin-top: 50px;
        border-radius: 10px;
    }
}
@media (min-width: 1366px){
    .compat_test_image{
        width: 600px;
        height: 500px;
        margin-left: 40px;
        margin-top: 50px;
        border-radius: 10px;
    }
}
.compat_title{
    width: 300px;
    height: 22px;
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 600;
    align-items: center;
    letter-spacing: -0.3px;
    margin-top: 39px;
    margin-left: 30px;
    margin-bottom: 16px;
}
@media (min-width: 1366px) {
    .compat-title{
        width: 350px;
        height: 22px;
        font-size: 14px;
        line-height: 21.78px;
        font-weight: 600;
        align-items: center;
        letter-spacing: -0.3px;
        margin-top: 39px;
        margin-left: 60px;
        margin-bottom: 16px;
    }
}
.personality,
.habits{
    width: 81px;
    height: 18px;
    margin-left: 28px;
    margin-top: 30px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18.15px;
    letter-spacing: -0.3px;
    align-items: center;
}
.p-border{
    width: 350px;
    margin-top: 9px;
    margin-left: 29.94px;
}
.personality-list{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.here-for-option-btns-P{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-bottom: 15px;
}
.compat-proceed-btn{
    width: 162px;
    height: 36px;
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: 120px;
    background-color: #007FE0;
    font-weight: 600;
    font-size: 12px;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    color: white;
}
@media (min-width: 1366px){
    .compat-proceed-btn{
        width: 162px;
        height: 36px;
        margin-top: 20px;
        margin-bottom: 40px;
        background-color: #007FE0;
        font-weight: 600;
        font-size: 12px;
        border-radius: 10px;
        padding: 10px;
        gap: 10px;
        color: white;
    }
}
.compat-proceed-btn-H{
    width: 162px;
    height: 36px;
    margin-top: 232px;
    margin-bottom: 40px;
    margin-left: 120px;
    background-color: #007FE0;
    font-weight: 600;
    font-size: 12px;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    color: white;
}
@media (min-width: 1366px){
    .compat-proceed-btn-H{
        width: 162px;
        height: 36px;
        margin-top: 50px;
        margin-bottom: 40px;
        background-color: #007FE0;
        font-weight: 600;
        font-size: 12px;
        border-radius: 10px;
        padding: 10px;
        gap: 10px;
        color: white;
    }
}
.compat-proceed-btn-I{
    width: 162px;
    height: 36px;
    margin-top: 160px;
    margin-bottom: 30px;
    margin-left: 120px;
    background-color: #007FE0;
    font-weight: 500;
    font-size: 10px;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    color: white;
}
@media (min-width: 1366px){
    .compat-proceed-btn-I{
        width: 162px;
        height: 36px;
        margin-top: 20px;
        margin-bottom: 40px;
        background-color: #007FE0;
        font-weight: 600;
        font-size: 12px;
        border-radius: 10px;
        padding: 10px;
        gap: 10px;
        color: white;
    }
}
.compat-4-upper-p{
    width: 315px;
    Height: 36px;
    margin-top: 20px;
    margin-left: 30px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.3px;
}
.compat-4-textarea{
    width: 350px;
    height: 200px;
    font-size: 14px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 10px;
    border-color: #dfdede;
    padding: 10px;
}
.compat-proceed-btn-M{
    width: 162px;
    height: 36px;
    margin-top: 253px;
    margin-bottom: 30px;
    margin-left: 120px;
    background-color: #007FE0;
    font-weight: 500;
    font-size: 10px;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    color: white;
}
@media (min-width: 1366px){
    .compat-proceed-btn-M{
        width: 162px;
        height: 36px;
        margin-top: 50px;
        margin-bottom: 30px;
        background-color: #007FE0;
        font-weight: 500;
        font-size: 10px;
        border-radius: 10px;
        padding: 10px;
        gap: 10px;
        color: white;
    }
}
.home-icon-bg{
    background-color: #007FE0;
    height: 50px;
    margin-top: 50px;
    display: flex;
}
.lp-home-icon{
    height: 40px;
    padding-top: 5px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex: 1;
}
@media (min-width: 1366px){
    .lp-home-icon{
        margin-right: 460px;
    }
}
.home-footer-div{
    min-height: 100%;
    border-color: #909090;
    position: absolute;
    opacity: 1;
}
@media (min-width: 1366px){
    .home-footer-div{
        min-height: 100%;
        border-color: #909090;
        position: absolute;
        opacity: 1;
        width: 70%;
        float: right;
        margin-left: 410px;
    }
}
.home-footer-icons{
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-left: 14px;
    position: fixed;
    bottom: 0;
    flex: 1;
    background-color: white;
}
.home-footer-icon-closed{
    color: #7c7b7b;
    margin-left: 28px;
    margin-right: 23px;
}
@media (min-width: 1366px){
    .home-footer-icon-closed{
        color: #7c7b7b;
        margin-left: 100px;
        margin-right: 100px;
    }
}
.home-footer-icon-open{
    color: #007FE0;
    margin-left: 28px;
    margin-right: 23px;
}
@media (min-width: 1366px){
    .home-footer-icon-open{
        color: #007FE0;
        margin-left: 100px;
        margin-right: 100px;
    }
}
.home-page,
.discover-page,
.post-page,
.inbox-page,
.profile-page,
.start-post-page{
    height: 100vh;
}
@media (min-width: 1366px){
    .home-page,
    .discover-page,
    .post-page,
    .inbox-page,
    .start-post-page,
    .chat-page{
        margin-left: 410px;
        width: 70%;
        box-sizing: border-box;
    }
}
@media (min-width: 1366px){
    .dk-profile{
        width: 30%;
        height: 600px;
        box-sizing: border-box;
        border-color: #929292;
        position: fixed;
        display: flex;
    }
}
.home-footer-icon-name{
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}
@media(min-width: 1366px){
    .footer-profile{
        display: none;
    }
}
.signup-page,
.onboarding1-page,
.onboarding2-page,
.onboarding3-page,
.login-page,
.email-page,
.compat-test-4-page,
.compat-test-3-page,
.compat-test-2-page,
.compat-test-1-page,
.about-page{
    height: 100vh;
    width: 100%;
}
.post-p{
    width: 130px;
    height: 22px;
    margin-top: 106px;
    margin-left: 148px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: -0.3px;
    text-align: center;
}
@media (min-width: 1366px){
    .post-p{
        width: 200px;
        height: 22px;
        margin-top: 80px;
        margin-left: 350px;
        margin-bottom: 40px;
        font-weight: 600;
        font-size: 20px;
        line-height: 21.78px;
        letter-spacing: -0.3px;
        text-align: center;
    }
}
.post-images-div{
    display: flex;
    flex-direction: row;
    margin-left: 14px;
}
@media (min-width: 1366px){
    .post-images-div{
        display: flex;
        flex-direction: row;
        margin-left: 169px;
        height: 300px;
        margin-top: -50px;
    }
}
.post-image{
    width: 145px;
    height: 134px;
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 10px;
    margin-bottom: 40px;
}
@media (min-width: 1366px){
    .post-image{
        width: 250px;
        margin-top: 40px;
        margin-left: 20px;
        border-radius: 10px;
        margin-bottom: 80px;
    }
}
@media (min-width: 1366px){
    .main-post-image{
        width: 210px;
        height: 180px;
        margin-top: 40px;
        margin-left: 30px;
        border-radius: 10px;
        margin-bottom: 40px;
    }
}
.post-image-p{
    height: 15px;
    margin-top: 6px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    letter-spacing: -0.3px;
}
@media (min-width: 1366px){
    .post-image-p{
        height: 15px;
        margin-top: -24px;
        text-align: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 14.52px;
        letter-spacing: -0.3px;
    }
}
.start-post-post{
    width: 26px;
    height: 15px;
    margin-top: 61px;
    margin-left: 299px;
    color: #BDBDBD;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.3px;
}
@media (min-width: 1366px){
    .start-post-post{
        width: 26px;
        height: 15px;
        margin-top: 61px;
        margin-left: 810px;
        color: #BDBDBD;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.3px;
    }
}
.start-post-p{
    width: 100px;
    height: 15px;
    margin-top: 10px;
    margin-left: 178px;
    font-weight: 600;
    font-size: 14px;
    line-height: 14.52px;
}
@media(min-width: 1366px){
    .start-post-p{
        width: 150px;
        height: 15px;
        margin-top: 20px;
        margin-left: 400px;
        font-weight: 600;
        font-size: 15px;
        line-height: 14.52px;
    }
}
.post-header{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 15px;
}
.post-pp{
    width: 40px;
    height: 40px;
    margin-top: 25px;
}
.post-username{
    display: flex;
    flex-direction: row;
    height: 15px;
    margin-top: 35px;
    margin-left: 20px;
    font-weight: 500;
    font-size: 13px;
    line-height: 14.52px;
}
.verified-img{
    width: 16px;
    height: 16px;
    margin-left: 3px;

}
.header-border{
    width: 350px;
    margin-top: 35px;
    margin-left: 30px;
    border-color: #d6d4d4;
}
@media(min-width: 1366px){
    .header-border{
        width: 400px;
        margin-top: 35px;
        margin-left: 30px;
        border-color: #cccccc;
    }
}
.post-information-input{
    width: 350px;
    height: 150px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 10px;
    border-color: #d6d4d4;
    font-weight: 400;
    font-size: 13px;
    padding: 10px;
}
@media(min-width: 1366px){
    .post-information-input{
        width: 400px;
        height: 150px;
        margin-left: 30px;
        margin-top: 20px;
        border-radius: 10px;
        border-color: #cccccc;
        font-weight: 400;
        font-size: 13px;
        padding: 10px;
    }
}
.post-information-input::placeholder{
    width: 180px;
    height: 15px;
    font-weight: 400;
    font-size: 13px;
}
.fifty-words{
    height: 12px;
    margin-top: 6px;
    margin-left: 320px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12.1px;
}
@media(min-width: 1366px){
    .fifty-words{
        height: 12px;
        margin-top: 6px;
        margin-left: 380px;
        font-weight: 410;
        font-size: 10px;
        line-height: 12.1px;
    }
}
.post-image-div{
    margin-top: 35px;
}
.post-image-lbl,
.post-location-lbl{
    height: 15px;
    margin-left: 30px;
    font-weight: 450;
    font-size: 13px;
    line-height: 14.52px;
}
.post-image-lbl span{
    height: 15px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14.52px;
}
.image-field{
    width: 350px;
    height: 200px;
    margin-left: 30px;
    border-radius: 10px;
    padding: 90px;
    font-weight: 300;
    font-size: 10px;
}
@media(min-width: 1366px){
    .image-field{
        width: 400px;
        height: 200px;
        margin-left: 30px;
        border-radius: 10px;
        border-color: #cccccc;
        padding: 90px;
        padding-left: 130px;
        font-weight: 300;
        font-size: 10px;
    }
}
.uploaded-images-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 0fr));
    gap: 10px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-color: #d6d4d4;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
.uploaded-images{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 150px;
    height: 200px;
    margin-left: 20px;
    margin-bottom: 2px;
}
.post-location-div{
    margin-top: 50px;
}
.post-location-box{
    width: 350px;
    height: 44px;
    margin-top: 5px;
    margin-left: 30px;
    border-radius: 10px;
    background-color: white;
    padding-left: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14.52px;
}
@media(min-width: 1366px){
    .post-location-box{
        width: 400px;
        height: 44px;
        margin-top: 5px;
        margin-left: 30px;
        border-radius: 10px;
        border-color: #cccccc;
        background-color: white;
        padding-left: 14px;
        font-weight: 400;
        font-size: 14px;
        line-height: 14.52px;
    }
}
.post-location-box::placeholder{
    color: black;
    height: 15px;
    margin-left: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
}
.postError{
    color: red;
    font-size: 11px;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: -10px;
    font-weight: 400;
}
@media (min-width: 1366px){
    .home{
        display: flex;   
    }
}
@media (min-width: 1366px){
    .post-page{
        margin-top: -20px;
    }
}



.profile-image-div{
    margin-left: 168px;
    margin-top: -30px;
}
.profile-image-div img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.profile-header{
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.profile-page{
    margin-top: 106px;
}
@media(min-width: 1366px){
    .profile-page{
        margin-top: 52px;
    }
}
.profile-name-div{
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.profile-name{
    width: 140px;
    height: 18px;
    margin-top: 23px;
    font-weight: 500;
    font-size: 17px;
    line-height: 16px;
    letter-spacing: -0.3px;
}
@media (min-width: 1366px){
    .profile-name{
        width: 140px;
        height: 18px;
        margin-top: 23px;
        font-weight: 500;
        font-size: 17px;
        line-height: 16px;
        letter-spacing: -0.3px;
        margin-left: 30px;
    }
}
.name_v{
    margin-top: 18px;
    width: 20px;
    height: 20px;
    margin-left: -5px;
}
.profile-occupation{
    width: 150px;
    height: 12px;
    margin-top: 28px;
    margin-left: 130px;
    font-weight: 400;
    font-size: 13px;
    line-height: 12.1px;
    letter-spacing: -0.3px;
}
.profile-location{
    display: flex;
    flex-direction: row;
    margin-left: 176px;
    margin-top: 5px;
    font-size: 13px;
}
.location-icon{
    margin-top: 3px;
}
.profile-options{
    margin-top: 35px;
}
@media (min-width: 1366px){
    .profile-options{
        margin-top: 25px;
    }
}
.profile-option{
    height: 45px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
@media (min-width: 1366px){
    .profile-option{
        height: 25px;
        margin-top: 15px;
        display: flex;
        flex-direction: row;
    }
}
.profile-icon{
    width: 25px;
    height: 25px;
    margin-left: 43px;
    color: #7c7b7b;
}
.profile-option-name{
    height: 15px;
    margin-left: 41px;
    font-weight: 400;
    font-size: 15px;
    line-height: 14.52px;
    letter-spacing: -0.3px;
    text-align: center;
    margin-top: 3px;
}
.profile-arrow-ec{
    margin-left: 97px;
}
.profile-arrow-m{
    margin-left: 188px;
}
.profile-arrow-n{
    margin-left: 160px;
}
.profile-arrow-cr{
    margin-left: 108px;
}
.profile-arrow-ep{
    margin-left: 176px;
}
.profile-arrow-h{
    margin-left: 106px;
}
.profile-arrow-s{
    margin-left: 192px;
}
.profile-arrow-v{
    margin-left: 168px;
}
.profile-arrow-l{
    margin-left: 196px;
}
.profile-border-b{
    width: 350px;
    margin-left: 30px;
}
.matches-page{
    flex: 1;
    align-items: center;
    justify-content: center;

}
.matches-header{
    width: 50px;
    height: 15px;
    margin-top: 30px;
    margin-left: 184px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14.52px;
    letter-spacing: -0.3px;
    text-align: center;
}
@media(min-width: 419px){
    .matches-header{
        width: 50px;
        height: 15px;
        margin-top: 60px;
        margin-right: 150px;
        font-weight: 550;
        font-size: 20px;
        line-height: 14.52px;
        letter-spacing: -0.3px;
        text-align: center;
    }
}
.matches-p{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.matches-p p{
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    letter-spacing: -0.3px;
    margin-left: 30px;
}
@media(min-width: 419px){
    .matches-p p{
        font-weight: 500;
        font-size: 14px;
        line-height: 14.52px;
        letter-spacing: -0.3px;
        margin-left: 30px;
    }
}
.all-time{
    width: 100px;
    height: 25px;
    margin-left: 100px;
    border-radius: 10px;   
}
.twenty-four-hours{
    width: 100px;
    height: 25px;
    margin-left: 100px;
    border-radius: 10px;
    background-color: #007FE0;
}
.all-time p{
    height: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12.1px;
    display: flex;
    flex-direction: row;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.twenty-four-hours p{
    height: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12.1px;
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
}
.all-time-icon{
    margin-left: 3px;
    margin-top: 1px;
}
.twenty-four-hours-icon{
    margin-left: 3px;
    color: white;
    margin-top: -2px;
}
.matches-names{
    margin-top: 60px;
}
.matches-div{
    width: 350px;
    height: 54px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.matches-div img{
    width: 42px;
    height: 40px;
    margin-left: 8px;
    border-radius: 10px;
    margin-top: 5px;
}
.matches-name{
    height: 15px;
    margin-top: 17px;
    margin-left: 8px;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 14.52px;
}
.matches-percent{
    height: 12px;
    margin-top: 17px;
    margin-left: 150px;
    font-weight: 500;
    font-size: 11px;
    line-height: 12.1px;
    color: #296240;
}
@media(min-width: 419px){
    .matches-page-div{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}

.inbox-search-bar{
    width: 350px;
    height: 44px;
    margin-top: 60px;
    margin-left: 30px;
    border-radius: 10px;
}
@media(min-width: 1366px){
    .inbox-search-bar{
        width: 600px;
        height: 44px;
        margin-top: 60px;
        margin-left: 30px;
        border-radius: 10px;
        padding: 10px;
    }
    .inbox-search-bar::placeholder{
        padding: 10px;
    }
}
.inbox-search-icon{
    width: 23px;
    height: 23px;
    margin-top: 11.5px;
    margin-left: 12px;
}
.CaMr{
    display: flex;
    flex: row;
}
.inbox-calls{
    height: 25px;

    margin-top: 16px;
    margin-left: 34px;
    border-radius: 5px;
    gap: 4px;
    display: flex;
    flex-direction: row;
}
.inbox-phone-icon{
    margin-top: 3px;
}
.inbox-mr{
    height: 12px;
    margin-top: 18px;
    margin-left: 34px;
    font-weight: 500;
    font-size: 13px;
    line-height: 12.1px;
    display: flex;
    flex-direction: row;
}
.mr-count{
    width: 18px;
    height: 18px;
    margin-left: 4px;
    border-radius: 5px;
    background-color: #007FE0;
    padding-top: 3px;
    margin-top: -3px;
}
.mr-count p{
    font-weight: 600;
    font-size: 10px;
    line-height: 12.1px;
    color: #FFFFFF;
    text-align: center;
}
.messages{
    margin-top: 80px;
}
.inbox-message{
    display: flex;
    flex-direction: row;
}
.inbox-message img{
    width: 41.54px;
    height: 40px;
    margin-left: 37px;
    border-radius: 10px;
}
.message-nAm{
    display: flex;
    flex-direction: column;
}
.message-name{
    height: 15px;
    margin-top: 6px;
    margin-left: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.52px;
}
.message-text{
    height: 12px;
    margin-top: 8px;
    margin-left: 6px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12.1px;
    letter-spacing: -0.3px;
}
.TaN{
    display: flex;
    flex-direction: column;
}
.notOpened-time{
    height: 10px;
    margin-top: 6px;
    margin-left: 100px;
    font-weight: 400;
    font-size: 8px;
    line-height: 9.68px;
    color: #007FE0;
}
.opened-time{
    height: 10px;
    margin-top: 6px;
    margin-left: 140px;
    margin-right: 6px;
    font-weight: 400;
    font-size: 8px;
    line-height: 9.68px;
    color: #7c7b7b;
}
@media(min-width: 1366px){
    .notOpened-time{
        height: 10px;
        margin-top: 6px;
        margin-left: 185px;
        font-weight: 400;
        font-size: 8px;
        line-height: 9.68px;
        color: #007FE0;
    }
    .opened-time{
        height: 10px;
        margin-top: 6px;
        margin-left: 185px;
        margin-right: 6px;
        font-weight: 400;
        font-size: 8px;
        line-height: 9.68px;
        color: #7c7b7b;
    }
}
.message-count{
    width: 4px;
    height: 10px;
    margin-top: 8px;
    margin-left: 215px;
    font-weight: 600;
    font-size: 8px;
    line-height: 9.68px;
}
.message-border{
    margin-top: 10px;
    width: 340px;
    margin-left: 37px;
}


.chat-header{
    display: flex;
    flex-direction: row;
    position: absolute;
    opacity: 1;
    background-color: white;
}
.chat-header-title{
    display: flex;
    flex-direction: row;
}
.chat-header-title img{
    width: 41.54px;
    height: 40px;
    margin-top: 50px;
    margin-left: 40px;
    border-radius: 30px;
}
.chat-header-title p{
    height: 15px;
    margin-top: 63px;
    margin-left: 10px;
    font-weight: 550;
    font-size: 14px;
    line-height: 14.52px;
}
.chat-header-border{
    border-color: #BDBDBD;
    width: 350px;
    margin-left: 30px;
}



.chat-page{
    height: 100vh;
}
@media(min-width: 1366px){
    .chat-page{
        height: 100%;
    }
}
.chat-input-box {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
} 
.chat-input-box input{
    padding: 10px;
    border-radius: 10px;
}
@media(min-width: 1366px){
    .chat-input-box input{
        padding: 10px;
        border-radius: 10px;
        width: 820px;
    }
}
.chat-input-box button{
    background-color: #007FE0;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
}
.chat{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px; 
    height: 630px;
}
@media(min-width: 1366px){
    .chat{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px; 
        height: 540px;
    }
}
.sender {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.receiver {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.message {
    background-color: #f0f0f0;
    padding: 8px;
    margin: 4px;
    border-radius: 10px;
    max-width: 230px;
}
@media(min-width: 1366px){
    .message {
        background-color: #f0f0f0;
        padding: 8px;
        margin: 4px;
        border-radius: 10px;
        max-width: 350px;
    }
}
.sender-message {
    background-color: #edebeb;
}
.receiver-message {
    background-color: #007FE0;
}



.notifications-header{
    height: 15px;
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 14.52px;
    letter-spacing: -0.3px;
}
.today{
    margin-top: 40px;
    margin-bottom: 40px;
}
.notifications-border{
    width: 350px;
    margin-left: 30px;
    rotate: 0;
}
.nots-filter{
    height: 12px;
    margin-left: 30px;
    margin-top: 2px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12.1px;
}
.notifications{
    margin-top: 50px;
}
.notification{
    width: 350px;
    height: 54px;
    margin-left: 30px;
    border-radius: 10px;
    border-color: #007FE0;
    display: flex;
    flex-direction: row;
    padding: 6px;
    margin-bottom: 20px;
}
.prev-notification{
    width: 350px;
    height: 54px;
    margin-left: 30px;
    border-radius: 10px;
    border-color: #c1c0c0;
    display: flex;
    flex-direction: row;
    padding: 6px;
    margin-bottom: 20px;
}
.notification img{
    width: 41.54px;
    height: 40px;
    border-radius: 10px;
}
.prev-notification img{
    width: 41.54px;
    height: 40px;
    border-radius: 10px;
}
.not-n{
    height: 15px;
    margin-top: 6px;
    margin-left: 5px;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 14.52px;
}
.not-p{
    height: 12px;
    margin-top: 5px;
    margin-left: 5px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12.1px;
}
.yesterday{
    margin-bottom: 40px;
}
@media(min-width: 1115px){
    .nots-div{
        margin-left: 350px;   
    }
    .notifications-header{
        height: 15px;
        margin-top: 60px;
        text-align: center;
        font-weight: 500;
        font-size: 19px;
        line-height: 14.52px;
        letter-spacing: -0.3px;
        margin-bottom: 80px;
    }
}
@media(min-width: 1366px){
    .nots-div{
        margin-left: 480px;   
    }
    .notifications-header{
        height: 15px;
        margin-top: 60px;
        text-align: center;
        font-weight: 500;
        font-size: 19px;
        line-height: 14.52px;
        letter-spacing: -0.3px;
        margin-bottom: 80px;
    }
}