.landing-bg{
    background-color: #007FE0;
}
.landing-text{
    color: white;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
    flex-direction: row;
}
.living-pro-text{
    font-size: xx-large;
}
.lp-landing-icon{
    margin-right: 4px;
    margin-top: 5px;
}
.OB1ellipse16{
    width: 60px;
    height: 60px;
    margin-top: 79px;
    margin-left: 285px;  
}
.OB1ellipse15, .OB2ellipse18{
    margin-left: 55px;
    margin-top: 20px;
}
.OB1ellipse17{
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-left: 30px;
}
.onboarding1-text{
    text-align: center;
}
.OB2ellipse16{
    width: 60px;
    height: 60px;
    margin-top: 79px;
    margin-left: 215px;  
}
.OB2ellipse17{
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-left: 120px;
}